body {
background-color: whitesmoke;
}

img.center {
    margin-left: 25%;
    margin-right: auto;
    width: 50%;
    
}
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
    text-align: center;
    color: blue;
    margin-top: 2%;
}

h2 {
    text-align: center;
    color:goldenrod;
    padding: 20px
}

img.banner {
    margin-left: 15%;
    margin-right: auto;
    width: 70%;
}

#keyword {
    text-align: center;
    color:blue;
    font-size: 32px;
}


.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: darkred;
    font-size: 28px;
    margin-left: 30%;
    margin-right: auto;   
    margin-top: 20px;
    width: 40%;
    height: 30px;
}

#guessed {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    margin-left: 30%;
    margin-right: auto;   
    margin-top: 20px;
    border: 3px dashed green;
    width: 40%;
    height: 100px;
}